html {
    /* Info: 1rem === 10px, 
    1.5rem === 15px, 
    2rem === 20px */
    font-size: 10px; 
}

body {
    font-family:  Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    text-align: center;
    color: black;
    margin: 0;
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

h2 {
    font-size: 2em;
}

p {
    font-style: italic;
}

a {
    color: rgb(17, 17, 90);
}

a:visited {
    color: rgb(85, 22, 131);
}

#main {
        margin: 30px 8px; 
        padding: 15px;
        border-radius: 5px;
        background: #f5f5f5;
    }
}

@media (max-width: 460px) {
    #main {
        margin: 0;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
    box-shadow: 5px 7px 4px rgba(162, 161, 161, 0.487); /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

#img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }

  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }